body{
    overflow: hidden;
    color: #cacaca;
    font-size: large;
    user-select: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.background{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url(./Assets/Background.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  background-position: center;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-80%);
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-80%);
        opacity: 1;
    }
  }
  
#nextButton{
  position: fixed;
  z-index: 4;
  right: 23%;
  top: 81%;
  color: white;
  background-color: #262626;
  transform: translate(-50%, -50%);
  border: white;
  border-width: 5px;
  border-radius: 20px;
  border-style: solid;
  padding: 10px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#nextButton:hover{
  cursor: pointer;
}

  .slide-in-from-right {
    position: absolute;
    animation: slideInFromRight 0.5s ease-in-out forwards;
  }

  .slide-in-from-left {
    animation: slideInFromLeft 0.5s ease-in-out forwards;
  }

#location{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100vh;
    width: 100px;
    z-index: 1;
}

#menu{
    background-color: #131313;
    position: absolute;
    width: 220px;
    z-index: 2;
    top: 25%;
    padding: 10px;
    padding-top: 15px;
    border: 2px solid #131313;
    border-radius: 20px;;
}
.Thumbnail{
    position: relative;
    left: 10px;
    width: 100px;
    cursor: default;
}
.Thumbnail:hover{
cursor: pointer;
}
#videos{
    opacity: 0;
    pointer-events: none;
    user-select: none;
}
#tests{
    opacity: 0;
    pointer-events: none;
    user-select: none;
    position: absolute;
}
#active{
    position: absolute;
    left: 48%;
    top: 47%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 70vh;
    z-index: 1;
}
    
.card{
    background-color: #2477a7;
    padding: 10px;
    margin: 10px;
    width: fit-content;
    height: fit-content;
    border: 2px solid #2477a7;
    border-radius: 120px;;
}
.stacked{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.place{
    background-color: #1f1e6d;
    padding: 20px;
    padding-bottom: 100px;
    margin: 20px;
    width: fit-content;
    border: 2px solid #1f1e6d;
    border-radius: 20px;
    text-align: center;
}
.origin{
  position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}

.few{
  width: 1500px;
}

#destination{
  position: absolute;
  left: -28px;
  top: 230px;
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
}

.big{
  width: 460px;
  display: flex;
  flex-wrap: wrap;
}

.quellen{
  position: absolute;
padding: 20px;
}

a{
  position: absolute;
  z-index: 10;
}

textarea{
    position: absolute;
    height: 500px;
    width: 300px;
    top: 0px;
    left: 1100px;
    user-select: none;
    pointer-events: none;
    font-size: x-large;
    border: 10px solid;
    border-radius: 20px;;
    border-color: white;
    text-align: center;
}
.test{
    position: absolute;
    left: 12%;
    top: 5%
}
.video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.rounded-border-green {
    border: 10px solid;
    border-radius: 20px;;
    border-color: white;
    animation: border-color-animation-green 0.2s linear forwards;
  }
  
  @keyframes border-color-animation-green {
    0% {
      border-color: white;
    }
    100% {
      border-color: green;
    }
  }

  .rounded-border-red {
    border: 10px solid;
    border-radius: 20px;;
    border-color: white;
    animation: border-color-animation-red 0.2s linear forwards;
  }
  
  @keyframes border-color-animation-red {
    0% {
      border-color: white;
    }
    100% {
      border-color: red;
    }
  }

  .rounded-border-white {
    border: 10px solid;
    border-radius: 20px;
    border-color: white;
    animation: border-color-animation-white 0.2s linear forwards;
  }
  
  @keyframes border-color-animation-white {
    0% {
      border-color: white;
    }
    100% {
      border-color: white;
    }
  }